#css12 div {
	display: flex;

	justify-content: center;
	align-items: center;	

	margin-bottom: 20px;
}

#css12 h1 {
	font-size: calc(24px + 16 * ((100vw - 320px) / (1200 - 320)));
	text-align: center;
}

#css12 .test {
	font-size: 40px;
}




#css13 {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	transform-style: preserve-3d;
	perspective: 800px;


}

#css13 div {
	margin: 20px 0 20px;
}

#css13 .open_fall_menu {
	border: 1px solid black;
	border-radius: 5px;

	padding: 10px 10px 7px 10px;
	margin: 30px;
}

#css13 .open_fall_menu>.burger_line {
	width: 25px;
	height: 4px;
	background-color: #B200FF;

	margin: 0 0 3px 0;
}

#css13 .fall_menu {
	width: calc(100vw/5);
	max-width: 200px;
	
	border-radius: 20px;
	background-color: #231d51;

	transform-origin: center top;
	transform: rotateX(85deg);

	opacity: 0;

	transition: opacity 0.4s linear 0.4s, transform 0.8s cubic-bezier(0.68, -0.275, 0.825, 0.115) 0s;

	padding: 0 5px;
}

#css13 .fall_menu .fall_menu_container {
	width: 100%;
	margin: 10px 0;

	display: flex;
	align-items: center;
	flex-direction: column;
}

#css13 .fall_menu .fall_menu_container .fall_menu_container_title {
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 5px;
	text-align: center;
}

#css13 .fall_menu	.fall_menu_container a {
	color: #7F35C9;
	text-align: left;
	margin: 7px;
	width: 70%;

}

#css13 .fall_menu .fall_menu_container hr {
	border-top: 1px solid #680099;

	margin: 0;

	width: 90%;
}

#css13 .fall_menu.active {
	transform: rotateX(0deg);
	opacity: 1;

	transition: opacity 0.4s linear 0s, transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}



/*:selection {
	background-color: chocolate;
}
*/
.css14 .div-shape-outside {
}

/*#css14 .shape-outside {
	float: left;
	shape-outside: ellipse(closest-side closest-side at 25% 25%);
	clip-path: ellipse(closest-side closest-side at 25% 25%);

	width: 300px;
	height: 500px;

	background-color: #CF07F7FF;

	margin-bottom: 20px;

}*/

#css14 p {
  quotes: "\201E" "\201C";
}

q:before{
  content: open-quote;
  color: blue;
  margin-right: 10px;
}

q:after {
  content: close-quote;
  color: mediumvioletred;
  margin-left: 10px;
}

#css14 .shape-outside-2 {
	float: left;
	shape-outside: polygon(52px 30px, 119px 30px, 114px 150px, 85px 165px, 58px 150px);
	clip-path: polygon(52px 30px, 119px 30px, 114px 150px, 85px 165px, 58px 150px);
	shape-margin: 15px;
	
	width: 300px;
	height: 300px;

}

@keyframes easeOutElastic {
	0% {
		transform: scale(1);
	}

	16% {
		transform: scale(-0.32);
	}

	28% {
		transform: scale(0.13);
	}

	44% {
		transform: scale(-0.05);
	}

	59% {
		transform: scale(0.02);
	}

	73% {
		transform: scale(-0.01);
	}

	88% {
		transform: scale(0);
	}

	100% {
		transform: scale(0);
	}

}