.css1 {
	font-family: 'Montserrat', sans-serif;
}

body {
	min-height: 3000px;
}

.css1 p {
	display: block;
}

.css1 .navbar {
	
}

.css1 .header {
	background: hsl(195, 87%, 51%);
	position: relative;
	width: 100%;
}

.css1 .navbar {
	min-height: 70px;
}

.css1 .contain {
	padding-right: 15px;
	padding-left: 15px;
}
 
.css1 .header-text {
	position: relative;
	max-width: 680px;
	margin: 70px auto 90px;
}

.css1 .header-text h2 {
	font-weight: 700;
	font-size: 98px;

}

.css1 .header-text h3 {
	font-family: 'Lato', sans-serif;
	margin-bottom: 30px;
	font-weight: 400;
	line-height: 1.4;
	letter-spacing: normal;
}

.css1 .white {
	color: #fff !important;
}

.css1 .dark-blue {
	color: hsl(195, 87%, 21%);
}

.css1 .orange {
	color: hsl(44, 84%, 59%);
}

.css1 .bg-dark-blue {
	background-color: hsl(195, 87%, 21%);
}

.css1 .bg-orange {
	background-color: hsl(44, 84%, 59%);
}

.css1 .header-text a {
	margin: 0 7px;
	height: auto;
	font-family: 'Montserrat', arial, sans-serif;
	font-size: 18px;
	font-weight: 700;
	padding: 7px 30px;
	text-transform: uppercase;
}

.css1 .links {
	text-align: center;
	margin-bottom: 20px;
}

.css1 .links p {
	display: inline-block;
	margin: 0 10px;
	color: hsl(195, 87%, 36%);
	font-family: 'Lato', sans-serif;
}

.css1 .links p a {
	color: hsl(195, 87%, 36%);
	font-family: 'Lato', sans-serif;
}

.css1 .links p a:hover {
	color: hsl(195, 87%, 21%);
}

.css1 .follow {
	position: relative;
	min-height: 60px;
	background-color: hsl(195, 87%, 36%);
}

.css1 .btn {
	height: 50px;
}

@media (max-width: 776px) {
	.css1 .header-text h2 {
		font-size: 66px;
	}

	.css1 .header-text a {
		display: block;
		margin: 0 0 30px;
	}

	.css1 .links p {
		display: block;
	}
}

