.css2 {
}

.css2 .btn {
	padding: 10px 15px;
}

.css2 .btn-1 {
	background-color: hsl(0, 100%, 50%);
}

.css2 .btn-2 {
	background-color: hsl(72, 100%, 50%);
}

.css2 .btn-3 {
	background-color: hsl(144, 100%, 50%);
}

.css2 .btn-4 {
	background-color: hsl(216, 100%, 50%);
}

.css2 .btn-5 {
	background-color: hsl(288, 100%, 50%);
}

.css2 .btn:hover {
	background-color: hsl(288, 100%, 50%);
	transform: scale(1.1);
}

.css2 .btn-3 {
	background-color: #00BEF1;
}
