.cursors {
	position: absolute;
	transition-duration: 0s;
	
   pointer-events: none;
}
.cursor {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #565656FF;
	opacity: .5;
   z-index: 10000;
}

.downed .cursor {
	animation: clickAnim2 .5s both;
}

.cursor2 {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	z-index: 9999;
	position: absolute;
	border: 5px solid black;
	opacity: .5;
}

.downed .cursor2 {
	animation: clickAnim .5s both;
}

@keyframes clickAnim {
	0% {
		transform: scale(1);
	}

	70% {
		transform: scale(4);
		opacity: 0;
	}

	91% {
		transform: scale(0);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: .5;
	}
}

@keyframes clickAnim2 {
	0% {
		transform: scale(1);
	}

	30% {
		transform: scale(1.8);
	}

	55% {
		transform: scale(.7);
	}

	75% {
		transform: scale(1.4);
	}

	100% {
		transform: scale(1);
	}
}


/*****			Cursor Toggler			*****/

#cursor-toggler {
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 998;

	width: 30px;
	height: 30px;

	font-size: 30px;
}

i[class*="fa-"] {
	color: #fff;
}


#test {
	position: relative;
}
.test1 {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 100px;

	transition: z-index 1s ease 0s;
	background-color: red;

}
.test1:hover {
	z-index: 6;
	transition: z-index 1s ease 0s;
}
.test2 {
	position: absolute;
	top: 0;
	left: 20%;

	width: 60%;
	height: 100px;

	background-color: blue;
	z-index: 2;

}
.test3 {
	position: absolute;
	top: 0;
	left: 40%;

	width: 60%;
	height: 100px;

	background-color: #39CD31FF;
	z-index: 3;

}
.test4 {
	position: absolute;
	top: 0;
	left: 60%;

	width: 60%;
	height: 100px;

	background-color: #D3CE2BFF;
	z-index: 4;

}
.test5 {
	position: absolute;
	top: 0;
	left: 80%;

	width: 60%;
	height: 100px;

	background-color: #DE20D8FF;
	z-index: 5;

}